# Configuración del servidor
PORT=3000
NODE_ENV=development

# Resend 
RESEND_API_KEY=api_key_here
RESEND_FROM_EMAIL=

# Base de datos (MongoDB)
MONGODB_URI=api_key_here

# Orígenes permitidos para CORS (separados por comas)
ALLOWED_ORIGINS=https://devanthos.com,https://app.devanthos.com,https://system.devanthos.com/,https://ventas.devanthos.com/